MOD_IS_RELEASE=false

# Global Publishing Toggles
PUB_DRY_RUN=true
PUB_MAVEN_ENABLE=false
PUB_MODS_ENABLE=false

# Platform Tokens
PUB_MODRINTH_TOKEN=09876543
PUB_CURSEFORGE_TOKEN=1234567
PUB_MODRINTH_STAGING=true

# Platform Publishing Locations
PUB_CURSEFORGE_PROJECT_ID=
PUB_MODRINTH_PROJECT_ID=


# Maven Central Config
PUB_MAVEN_CENTRAL_ENABLE=false
PUB_MAVEN_CENTRAL_SNAPSHOTS=false
PUB_MAVEN_CENTRAL_USERNAME=username
PUB_MAVEN_CENTRAL_PASSWORD=the_password

# Unified Signing
PUB_SIGNING_KEY=exported_ascii_armored_key
PUB_SIGNING_ID=
PUB_SIGNING_PASSWORD=some_password
